#app {
  font-family: monospace;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.game {
  display: table;
  border: solid 5px black;
  border-radius: 5px;
}

.game.game-over {
  background: #66E856;
}

.game-row {
  display: table-row;
}

.square {
  border: solid black 1px;
  width: 1em;
  height: 1em;
  line-height: 100%;
  font-size: 10em;
  text-align: center;
  display: table-cell;
  cursor: pointer;
}
